<app-project-section 
  [title]="'Brainfuck Interpreter & UI'" 
  [subtext]="'C++ Interpreter for the Minimal Language'" 
  [image]="'assets/project-images/thumbnail/brainfuck.png'">

  <h2>Brainfuck Interpreter & UI</h2>
  <article>
    <img src="assets/project-images/fullsize/brainfuck.png" style="width: 441px;" />
    <p>This is a terminal based & UI interpreter for the extremely minimal Turing-complete programming language <a href="https://en.wikipedia.org/wiki/Brainfuck">Brainfuck</a>. This was developed in just a few days for two reasons: to allow me to gain more experience in C++ across platform (Windows & Linux), as well as more experience in a C++ based UI framework, and as I Was interested in seeing what it would take to develop a simple language interpreter. In this release, I ended up using <a href="https://www.qt.io/">Qt</a> as the framework.</p>
    <p>The terminal application allows for simply passing it Brainfuck code:</p>
    <p><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Brainfuck.exe &quot;,>++++ [>++++++++<-] >.....<<.&quot;</i></p>
    <p>Or by passing it a file using the -f flag:</p>
    <p><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Brainfuck.exe -f BFCode.txt</i></p>

    <p><a href="https://bitbucket.org/Pkshields/brainfuck-interpreter-ui/downloads/Brainfuck-v1.0-UI.zip">Download Brainfuck Interpreter UI (Windows)</a></p>
    <p><a href="https://bitbucket.org/Pkshields/brainfuck-interpreter-ui/downloads/BrainfuckInterpreter-Win32.exe">Download Brainfuck Interpreter CMD (Windows)</a></p>
    <p><a href="https://bitbucket.org/Pkshields/brainfuck-interpreter-ui/downloads/BrainfuckInterpreter-Linux32">Download Brainfuck Interpreter Terminal (Linux 32 bit)</a></p>
    <p><a href="https://bitbucket.org/Pkshields/brainfuck-interpreter-ui/downloads/BrainfuckInterpreter-Linux64">Download Brainfuck Interpreter Terminal (Linux 64 bit)</a></p>
    <p><a href="https://bitbucket.org/Pkshields/brainfuck-interpreter-ui" target="_blank">View Source Code</a></p>
  </article>
</app-project-section>
