<app-routable-modal>
  <h2>MuScreenManager</h2>
  <article>
    <img src="assets/project-images/fullsize/muscreenmanager.png" style="width: 530px;" />
    <p>MuScreenManager is an XNA class library that provides a screen management system, allowing for the simple integration of menus and .other screens into your game. It is based off the <a href="https://code.msdn.microsoft.com/windowsapps/Game-State-Management-b7869983">Game State Management</a> system provided my Microsoft, built completely from scratch. It can be seen in the demo provided below or in The Game of Life: Mafia Edition.</p>
    <p>Although currently provided for XNA users, soon it will be ported to Unity3D as well as the devices that it supports, including touch for both versions of the library. Soon, as well I aim to make it open source so it may be used by other developers.</p>

    <p><a href="https://bitbucket.org/Pkshields/muscreenmanager/downloads/MuScreenManager-v.1.0.zip">Download MuScreenManager v1.0</a></p>
    <p><a href="https://bitbucket.org/Pkshields/muscreenmanager/downloads/ExampleGame-v.1.0.zip">Download Example Game</a></p>
    <p><a href="https://bitbucket.org/Pkshields/muscreenmanager/" target="_blank">View Source Code</a></p>
    <p><a href="https://archive.paulshields.dev/muscreenmanager/docs/" target="_blank">View Documentation</a></p>
  </article>
</app-routable-modal>
