<app-project-section 
  [title]="'Windows 8 Apps'" 
  [subtext]="'4 Windows 8 Apps'" 
  [image]="'assets/project-images/thumbnail/windows8apps.png'">

  <h2>Windows 8 Apps</h2>
  <article>
    <img src="assets/project-images/fullsize/windows8apps.png" style="width: 530px;" />
    <p>In April 2013, Microsoft Ireland ran a competition where you could <a href="https://www.microsoft.com/Ireland/app/acer.html" target="_blank">create 4 Windows 8 apps</a> for the Windows Store and win a x86 Acer tablet. During my Easter break, I decided to enter the competition. I was going from C# and XNA experience to C# and XAML for Windows 8, to create 4 apps in 2 weeks. This is what I created:</p>

    <p><b>Code Compressor</b>: Code Compressor allows you to take your CSS or Javascript code and minifies it, removing all unnecessary characters including white space characters, new line characters, comments, and sometimes block delimiters.</p>
    <p><a href="https://bitbucket.org/Pkshields/code-compressor" target="_blank">View the Code Compressor Source Code</a></p>

    <p><b>No To 0870</b>: No to 0870 looks up 08* numbers in an online database, which are expensive from mobiles, to find a cheaper national rate through an 01 or 02 number instead.</p>
    <p><a href="https://bitbucket.org/Pkshields/no-to-0870" target="_blank">View the No To 0870 Source Code</a></p>

    <p><b>Swatch Internet Time</b>: Swatch Internet Time is a revolutionary way to track the time of day, by eliminating the need for time zones and use the same time all over the world. This is the definitive SIT app for Windows 8. This app includes the current time, in .beats, a Time converter from any timezone into .beats and back again as well as a handy Stopwatch, allowing you to measure time stopwatch style in .beats.</p>
    <p><a href="https://bitbucket.org/Pkshields/swatch-internet-time" target="_blank">Download Swatch Internet Time</a></p>

    <p><b>URL Lengthener</b>: Ever look at a shortened URL and wonder what it is linking to? Don't trust the person sending you the URL? Use URL Lengthener to find out what the real link is! Supports all major URL shortener services. The definitive URL Lengthener on Windows 8! This app supports such URL Shortening sites such as t.co, tinyurl.com, is.gd, bit.ly and many others.</p>
    <p><a href="https://bitbucket.org/Pkshields/url-lengthener" target="_blank">View the URL Lengthener Source Code</a></p>
  </article>
</app-project-section>