<header>
  <h1>Contact</h1>
</header>
<article>
  <section>
    <div class="half-page">
      <p>If you would like to contact me, feel free via the following methods:</p>
      <div>
        <ul>
          <li class="email">Email: <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#58;me&#064;paulshields.dev"><span class="reverse">ved.sdleihsluap@em</span></a></li>
          <li class="twitter">Twitter: <a href="http://twitter.com/pkshields" target="_blank">@Pkshields</a></li>
          <li class="linkedin">LinkedIn: <a href="http://uk.linkedin.com/pub/paul-shields/59/95b/8bb/" target="_blank">Link</a></li>
        </ul>
      </div>

      <p>You can also find me on the following services:</p>
      <div>
        <ul>
          <li class="github">GitHub: <a href="http://github.com/pkshields" target="_blank">Link</a></li>
          <li class="bitbucket">BitBucket: <a href="http://bitbucket.org/Pkshields" target="_blank">Link</a></li>
        </ul>
      </div>
    </div>

    <div class="half-page">
      <ngx-tweet *ngFor="let id of tweetIds" [tweetId]="id"></ngx-tweet>
    </div>
  </section>
</article>