<app-routable-modal>
  <h2>Vlappy Man</h2>
  <article>
    <img src="assets/project-images/fullsize/vlappyman.png" style="width: 530px;" />
    <p>Vlappy Man is my entry into the <a href="https://itch.io/jam/flappyjam" target="_blank">Flappy Jam 2013</a>. It is a simple game, built in a few days, which was originally designed as a cross between Flappy Bird and VVVVVV. This essentially takes the VVVVVV look and feel, as well as the flipping mechanic, and applies it to the Flappy Bird gameplay. The result is an equally addictive yet infuriating game with a catchy soundtrack! My tagline on the <a href="https://pkshields.itch.io/vlappy-man" target="_blank">itch.io submission page</a>:</p>
    <p><i>Vlappy Man has given up on the fight against Gravity, so he has instead figured out how to harness that unbridled energy: by flipping!</i></p>
    <p>This game was my first foray in the world of Unity, graduating from the now defunct XNA.</p>

    <p><a href="https://bitbucket.org/Pkshields/vlappy/downloads/VlappyMan-v1.0-Windows.zip">Download Vlappy Man v1.0 - Windows</a></p>
    <p><a href="https://bitbucket.org/Pkshields/vlappy/downloads/VlappyMan-v1.0-Mac.zip">Download Vlappy Man v1.0 - Mac</a></p>
    <p><a href="https://bitbucket.org/Pkshields/vlappy/downloads/VlappyMan-v1.0-Linux.zip">Download Vlappy Man v1.0 - Linux</a></p>
    <p><a href="https://archive.paulshields.dev/vlappy/" target="_blank">Download Vlappy Man v1.0 - Web (default Unity page)</a></p>
  </article>
</app-routable-modal>