@import '../../css/mediasizes';

@media #{$mobile-size} {
  header {
    position: inherit;
    width: 100%;
    height: auto;
    
    #logo {
        padding: 30px 20px;
    }
    
    nav {
      overflow: hidden;

      max-height: 0px;
      transition: max-height 2s linear;

      &.enabled {
        max-height: 2000px;
        // transition: max-height 2s linear;
      }

      ul {
        padding: 0;

        a {
          display: inherit !important;
          width: 100% !important;
        }
      }
    }

    #menu-button {
      display: inherit;
      position: absolute;
      top: 55px;
      left: 35px;
      font-size: 2.5em;
    }

    #github-link {
      display: none;
    }
  }

  main {
    position: inherit;
  }
}