<header>
  <div id="logo">
    <h1>Paul Shields</h1>
    <h2>Developer</h2>
  </div>
  <nav [ngClass]="menuIsOpen ? 'enabled' : ''">
    <ul>
      <li><a routerLink="/skills" routerLinkActive="selected" id="skills">Skills</a></li>
      <li><a href="#" id="experience">Experience</a></li>
      <li><a href="#" id="projects">Projects</a></li>
      <li><a href="#" id="contact">Contact</a></li>
    </ul>
  </nav>
  <i id="menu-button" class="fas fa-bars" (click)="toggleMenu()"></i>
  <a href="https://github.com/Pkshields/PaulShields.dev" id="github-link" target="_blank"><i class="fab fa-github"></i></a>
</header>
<main>
  <router-outlet></router-outlet>
</main>
