<app-project-section 
  [title]="'Bombcast Radio'" 
  [subtext]="'24/7 Giant Bombcast Stream'" 
  [image]="'assets/project-images/thumbnail/bombcastradio.png'">

  <h2>Bombcast Radio</h2>
  <article>
    <img src="assets/project-images/fullsize/bombcastradio.png" style="width: 519px; height: 300px;" />
    <p>Bombcast Radio is a 24/7 live stream of the <a href="https://giantbomb.com/podcasts/" target="_blank">Giant Bombcast</a>, a video game podcast published by <a href="https://www.giantbomb.com/" target="_blank">Giant Bomb</a> every Tuesday. The site has a persistent global playlist of Bombcasts with defined start times, meaning that the site acts like a real radio stream with everyone listening to the same Bombcast at the same timestamp, giving it an authentic radio stream feel.</p>
    <p>The website is the website I have developed that supports Responsive Design, meaning that the site supports all desktops, tablets and phones natively.</p>
    <p><a href="https://bitbucket.org/Pkshields/bombcast-radio/" target="_blank">View Source Code</a></p>
    <p><a href="https://bitbucket.org/Pkshields/bombcast-radio/src/master/README.md" target="_blank">Instructions on how to run the webapp locally</a></p>
  </article>
</app-project-section>