<app-routable-modal>
  <h2>The Pixel Underground</h2>
  <article>
    <img src="assets/project-images/fullsize/thepixelunderground.png" style="width: 530px;" />
    <p>The Pixel Underground is my entry into the <a href="http://www.ludumdare.com/compo/ludum-dare-29/" target="_blank">Ludum Dare 29</a>. It is a simple top down shooter built with the most programmer of programmer art: Boxes. Battle your way through a multitude of vicious, deadly enemies to try and become King of the Pixel Underground. The game is built around vibrant, colorful artstyle, deceptively fun gameplay and, of course, Unity.</p>

    <p><a href="https://bitbucket.org/Pkshields/ludum-dare-29/downloads/TPU-v1.0-Windows.zip">Download The Pixel Underground v1.0 - Windows</a></p>
    <p><a href="https://bitbucket.org/Pkshields/ludum-dare-29/downloads/TPU-v1.0-Mac.zip">Download The Pixel Underground v1.0 - Mac</a></p>
    <p><a href="https://bitbucket.org/Pkshields/ludum-dare-29/downloads/TPU-v1.0-Linux.zip">Download The Pixel Underground v1.0 - Linux</a></p>
    <p><a href="https://archive.paulshields.dev/thepixelunderground/" target="_blank">Download The Pixel Underground v1.0 - Web (default Unity page)</a></p>
  </article>
</app-routable-modal>