<app-project-section 
  [title]="'SEPT'" 
  [subtext]="'Super Easy PHP Templating Framework'" 
  [image]="'assets/project-images/thumbnail/sept.png'">

  <h2>Web Based Physics Engines</h2>
  <article>
    <img src="assets/project-images/fullsize/sept.png" style="width: 530px;" />
    <p>Super Easy PHP Templating is a very simple, easy to implement PHP templating framework. It requires only two files and on average (depending on the theme) under 10 lines of code to implement. It works be defining certain "blocks" in a theme where the user can insert HTML, PHP or anything else. When the theme is being used, these blocks are defined with simple Start and Stop method calls with the block ID, allowing the user to enter straight HTML inbetween PHP code if needs be. The framework is recursive, supporting blocks with blocks and supports Code Snippets, allowing for modular themes.</p>

    <p><a href="https://bitbucket.org/Pkshields/super-easy-php-templating/downloads/SEPT-1.0.zip">Download SEPT v1.0</a></p>
    <p><a href="https://bitbucket.org/Pkshields/super-easy-php-templating" target="_blank">View Source Code</a></p>
    <p><a href="https://archive.paulshields.dev/sept/docs/" target="_blank">View Documentation</a></p>
  </article>
</app-project-section>
