<app-routable-modal>
  <h2>The Game of Life: Mafia Edition</h2>
  <article>
    <img src="assets/project-images/fullsize/gameoflife.png" style="width: 530px;" />
    <p>The Game of Life: Mafia Edition is a video game based off the popular board game The Game of Life: Adventures Edition. The aim was to take the board game and fox the problems it had, such as unbalanced islands and predictable gameplay, as well as expanding it to have a Mafia theme.</p>
    <p>The game features two additional game modes, Land Jump and Capture the Flag, greatly expanding the gameplay as well as adding Mafia and Civilian as the two career paths, allowing for a greater difference between the two career paths. More of a risk reward for the Mafia but a simpler lifestyle for the civilian.</p> 
    <p>The game was built in XNA 4.0 using <a routerLink="../muscreenmanager">MuScreenManager</a>.</p>
    <p><a href="https://bitbucket.org/Pkshields/the-game-of-life-mafia-edition/downloads/GameOfLife-v1.0.zip">Download Game (Installer)</a></p>
    <p><a href="https://bitbucket.org/Pkshields/the-game-of-life-mafia-edition/downloads/GameOfLife-Standalone-v1.0.zip">Download Game (Standalone)</a></p>
    <p><a href="https://bitbucket.org/Pkshields/the-game-of-life-mafia-edition/" target="_blank">View Source Code</a></p>
  </article>
</app-routable-modal>