@import '../../../css/mediasizes';

/**
 * Hack to animate sliding open the menu using height.
 * CSS can't animate a transition to a runtime defeined height (0 > auto)
 * So this is used instead. 
 * 
 * Reference: 
 * https://stackoverflow.com/questions/3508605/
 * https://stackoverflow.com/questions/18087098/
 */

$slide-out-menu-speed: 2s;
$slide-out-menu-animation: linear;

$slide-out-menu-part-1: max-height $slide-out-menu-speed cubic-bezier(0, 1, 0, 1);
$slide-out-menu-part-2: max-height $slide-out-menu-speed $slide-out-menu-animation;

@media #{$mobile-size} {
  header {
    position: inherit;
    width: 100%;
    height: auto;
    
    #logo {
        padding: 30px 20px;
    }
    
    nav {
      overflow: hidden;

      max-height: 0px;
      transition: $slide-out-menu-part-1;

      &.enabled {
        max-height: 2000px;
        transition: $slide-out-menu-part-2;
      }

      ul {
        padding: 0;

        a {
          display: inherit !important;
          width: 100% !important;
        }
      }
    }

    #menu-button {
      display: inherit;
      position: absolute;
      top: 55px;
      left: 35px;
      font-size: 2.5em;
    }

    #github-link {
      display: none;
    }
  }

  main {
    position: inherit;
  }
}