@import '../../../css/colors';
@import '../../../css/fonts';
@import '../../../css/mediasizes';

$animation-speed: 0.9s;
$animation-delay: 1.2s;

div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #homepage-text {
    @extend %open-sans-bold-font;
    text-align: center;

    p {
      font-size: 2.7em;
      line-height: 3.2em;

      .name {
        color: $color-emerald;
      }
      .job-title {
        color: $color-peter-river;
      }
      .city {
        color: $color-carrot;
      }
      .country {
        color: $color-alizarin;
      }
    }

    p {
      animation: fadeIn $animation-speed ease-out;
      animation-fill-mode: both;

      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: $animation-delay;
      }
      &:nth-child(3) {
        animation-delay: $animation-delay * 2;
      }
    }
  }
}

@media (max-width: 1100px) {
  div > #homepage-text > p {
    font-size: 2em;
    line-height: 3em;
  }
}

@media #{$mobile-size} {
  div > #homepage-text > p {
    font-size: 1.5em;
    line-height: 2em;
  }
}
