/**
 * The CSS folder contains any CSS that is available globally throughout the app.
 * 
 * Any partial files can be made available in the component css via standard Sass importing.
 * Any other files are injected into the app via Angular configuration in angular.json.
 */

 @import 'colors';
 @import 'fonts';

body {
  @extend %open-sans-font;
  color: $text-color;
  background-color: $background-color;
  overflow-x: hidden;
}
