<header>
  <h1>Projects</h1>
</header>
<article>
  <section>
    <h4>Video Games</h4>
    <app-project-web-physics></app-project-web-physics>
    <app-project-physics4k></app-project-physics4k>
    <app-project-particle-system></app-project-particle-system>
    <app-project-undead-redemption></app-project-undead-redemption>
    <app-project-game-of-life></app-project-game-of-life>
    <app-project-bulletheli></app-project-bulletheli>
    <h4>Game Jams</h4>
    <app-project-vlappy-man></app-project-vlappy-man>
    <app-project-the-pixel-underground></app-project-the-pixel-underground>
    <h4>Websites</h4>
    <app-project-gbps3></app-project-gbps3>
    <app-project-bombcast-radio></app-project-bombcast-radio>
    <h4>Frameworks</h4>
    <app-project-kinectxna></app-project-kinectxna>
    <app-project-game-frameworks></app-project-game-frameworks>
    <app-project-muscreenmanager></app-project-muscreenmanager>
    <app-project-super-easy-php-templating></app-project-super-easy-php-templating>
  </section>
</article>