<app-project-section 
  [title]="'KinectXNA'" 
  [subtext]="'XNA Kinect Library & 3D Model'" 
  [image]="'assets/project-images/thumbnail/kinectxna.png'">

  <h2>KinectXNA</h2>
  <article>
    <img src="assets/project-images/fullsize/kinectxna.png" style="width: 530px;" />
    <p>KinectXNA is an XNA library, built to simplify many of the generic methods used to access, control and calculate the Kinect sensor. It supports the majority of the Kinect features, including: Skeleton Tracking, Video Camera Stream, Depth Stream and Voice Recognition.</p>

    <p><a href="https://bitbucket.org/Pkshields/kinectxna/downloads/KinectXNA-v1.0.zip">Download KinectXNA v1.0</a></p>
    <p><a href="https://bitbucket.org/Pkshields/kinectxna/" target="_blank">View Source Code</a></p>
    <p><a href="https://archive.paulshields.dev/kinectxna/docs/" target="_blank">View Documentation</a></p>

    <p>Using this library, I developed a tech demo that can take the Kinect tracked skeleton and applies it to a 3D model. As well as applying the bone structure and orientation from the Kinect to the model, it also can move around in 3D space, corresponding to the users movements. The project supports multiple tracked skeletons. Also supported are the viewing of both the Kinect skeleton (what the Kinect can see) and the model skeleton, as well as Voice commands and the viewing of the Depth and camera streams.</p>

    <p><a href="https://bitbucket.org/Pkshields/kinectxna/downloads/3D_Model.zip">Download 3D Model Demo (Code)</a></p>
  </article>
</app-project-section>