<app-project-section 
  [title]="'Particle System'" 
  [subtext]="'Particle System in C++ and OpenGL'" 
  [image]="'assets/project-images/thumbnail/particlesystem.png'">

  <h2>Particle System</h2>
  <article>
    <img src="assets/project-images/fullsize/particlesystem.png" style="width: 530px; height: 300px;" />
    <p>Particle System is a particles demo written in C++ and OpenGL. It was written for a task to create a demo of a possible screensaver, so I created a "particle ball". This involved first creating a particle system, then using point sprites creating a visual effect. This effect is that of a particle emitter in the centre of a sphere, emitting particles in all directions. Then, when a particle hits the edge of the radius of the sphere, it will freeze giving the effect of a particle ball. It also supports colour interpolation, rotation of the balls, multiple balls and multiple different textures for the particles.</p>

    <p><a href="https://bitbucket.org/Pkshields/opengl-particle-system/downloads/ParticleSystem-EXE-2013-06-04.zip" target="_blank">Download Particle System (EXE only)</a></p>
    <p><a href="https://bitbucket.org/Pkshields/opengl-particle-system/downloads/ParticleSystem-2013-06-04.zip" target="_blank">Download Particle System (source)</a></p>
    <p><a href="https://bitbucket.org/Pkshields/opengl-particle-system" target="_blank">View Source Code</a></p>
  </article>
</app-project-section>