<app-routable-modal>
  <h2>Game Frameworks</h2>
  <article>
    <p>I have developed two game frameworks so far: The C++ Game Framework and MuGameFramework.</p>

    <h3>The C++ Game Framework</h3>
    <p>The C++ Game Framework is a 2D-3D game framework, built upon C++ and DirectX. It currently supports 2D development, simplifying many of the common functions within DirectX 11.1 into a more XNA style framework. It has support for drawing (textured an non textured) OBBs, circles and lines on screen simply. It also has support for inputs from the keyboard and mouse. It has only just been ported to DirectX 11.1 for Windows 8 but is still being worked on actively to improve stability and feature set. It was developed in conjunction with <a routerLink="../physics4k">Physics4K</a>.</p>

    <p><a href="https://bitbucket.org/Pkshields/the-c-game-framework/downloads/ExampleGame-2013-06-04.zip">Download The C++ Game Framework - Base Game</a></p>
    <p><a href="https://bitbucket.org/Pkshields/the-c-game-framework/downloads/CGameFramework-2013-06-04.zip">Download The C++ Game Framework - Source Code</a></p>
    <p><a href="https://bitbucket.org/Pkshields/the-c-game-framework/" target="_blank">View Source Code</a></p>
    <p><a href="https://archive.paulshields.dev/cgameframework/docs/" target="_blank">View Documentation</a></p>

    <h3>MuGameFramework</h3>
    <p>MuGameFramework is a 2D game framework, built upon C# and SFML, that integrates many features that are used in video games for quick prototyping and easy development. It is built to support both .NET and Mono. MuGameFramework integrates features such as:</p>
    <ul>
      <li>Window management</li>
      <li>Sprite management</li>
      <li>Sound</li>
      <li>Input devices</li>
      <li>Content caching</li>
      <li>Game services</li>
      <li>Game components</li>
      <li>Spritebatch</li>
      <li>And more!</li>
    </ul>
    <p>MuGameFramework is licensed under the New BSD License.</p>
    <p><a href="https://bitbucket.org/Pkshields/mugameframework/downloads/MuGameFramework-v1.0.zip">Download MuGameFramework v1.0</a></p>
    <p><a href="https://bitbucket.org/Pkshields/mugameframework/" target="_blank">View Source Code</a></p>
    <p><a href="https://archive.paulshields.dev/mugameframework/docs/" target="_blank">View Documentation</a></p>
  </article>
</app-routable-modal>
