<app-project-section 
  [title]="'FooDIY'" 
  [subtext]="'Proof of Concept Recipe App'" 
  [image]="'assets/project-images/thumbnail/foodiy.png'">

  <h2>FooDIY</h2>
  <article>
    <img src="assets/project-images/fullsize/foodiy.png" style="width: 530px;" />
    <p>Elevator Pitch: <i>“Our product, FooDIY, helps users in making new and tasty recipes with ingredients they already have. Being able to scan food into the app takes all the fuss out of the traditional flicking through of recipes to find one which you can make. The date-tracking functionality of the items you have allows for food wastage to be reduced. Every month, users will be presented with even more recipes, from their chosen recipe packs, making the options practically endless.”</i></p>
    <p>FooDIY was an app developed as part of Citi's upStart competition, a Dragon's Den style competition between Queen's University of Belfast and Trinity College Dublin. For the competition we developed a proof of concept of an Android app that could record the food that a user had in their cupboard and suggest recipes based on this information. A 35 page business plan was also drafted for the Dragon's Den pitch to show that we, as a team, believed that the app could be financially sucessful.</p>

    <p><a href="assets/pdf/FooDIY-BusinessPlan.pdf" target="_blank">Citi upStart Business Plan (PDF)</a></p>
  </article>
</app-project-section>